<h2>Currently Enrolled</h2>

<table>
  <thead>
    <tr>
      <th colspan="1">Course Number</th>
      <th colspan="1">Course Name</th>
      <th colspan="1"></th>
      <th colspan="1"></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.course.course_number %></td>
        <td><%= enrollment.course.name %></td>
        <td><%# link_to 'Show', enrollment %></td>
        <td><%# link_to 'Edit', edit_enrollment_path(enrollment) %></td>
        <td><%= button_to 'Remove Course', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

