// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-detail {
  max-width: 450px;
}
.form-detail .form-signin-heading,
.form-detail .checkbox {
  margin-bottom: 10px;
}
.form-detail .checkbox {
  font-weight: normal;
}
.form-detail .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-detail .form-control:focus {
  z-index: 2;
}
.form-detail input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-detail input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
